:root {
  --font-title: 32px;
  --font-items: 16px;
  --font-Paragraph: 20px;
}

.background_img {
  background-color: black;
  width: 100vw;
  height: 100vh;
  position: fixed;
}

.background_img img:first-child {
  position: absolute;
  width: 100vw;
  height: 33vh;
}

.background_img img:nth-child(2) {
  position: absolute;
  bottom: 0;
  width: 100vw;
  height: 33vh;
}

.text-center {
    text-align: center;
}


.App {
  display: flex;
  flex-direction: column;
  align-items: center;

  /* background-color: black;
  background-image: url(/public/fondo/Frame\ 432.png),
                    url(/public/fondo/Rick\ y\ Morty2.png);
  background-repeat: no-repeat, no-repeat;
  background-position: top, bottom;
  background-size: 100% 33%, 100% 33%; */
}

/* logo */
.container_logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}


.container_logo img {
  position: relative; 
  align-self: flex-start;
  margin: 50px 0px 0px 120px;
}

/* boton de busqueda */

.search__container {
  position: relative;
  align-self: center;
  width: 500px;
  margin-top: 60px;
}

.input {
  border: none;
  outline: none;
  border: 3px solid #893446;
  border-radius: 30px;
  padding: 14px;
  background-color: rgba(255, 255, 255);
  box-shadow: inset 2px 5px 10px rgba(0,0,0,0.3);
  transition: 300ms ease-in-out;
  width: 100%;
}

.input::placeholder {
  color: #893446;
}



.input:focus {
  background-color: #938686;
  box-shadow: 9px 9px 20px #969696,
             -9px -9px 20px #938686;
}


.btn__search {
  width: 177px;
  height: 100%;
  position: absolute;
  right: 0;
  background-color: #FEEF66;
  border: 3px solid #893446;
  cursor: pointer;
  font-size: 20px;
  border-radius: 30px;
  font-weight: 500;
  padding: 6px;
  -webkit-transition: all .3s;
  transition: all .3s;  
}


.btn__search:hover {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
  background-color: #893446;
  color: white;
}
 
/* información de la locación */

.location_cont {
  list-style: none;
  margin-top: 30px;
  background-color: #856888;
  border: 5px solid #893446;
  box-shadow: 6px 6px 20px #3b3939;
  border-radius: 15px;
  position: relative;
  z-index: 1;
}

.location_cont li {
  padding: 10px 50px 10px 50px;
  color: white;
  font-weight: 600;
  text-align: center;
  line-height: 3rem;

  display: inline-block;
}

/* Diseño de las tarjetas */

.cardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.cards {
  width: 450px;
  height: 460px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin-left: 2%;
  margin-top: 2rem;
  position: relative;
}

.circle {
  background-color:#893446;
  width: 44%;
  height: 43%;
  border-radius: 50%;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
}

.circle img {
  width: 90%;
  border-radius: 50%;
}

.box_1 {
  width: 99.5%;
  height: 69.5%;
  border-radius: 30px;
  background-color:  #893446;
}

.box_2 {
  width: 94%;
  height: 24%;
  border-radius: 24px;
  background-color: #EDE288;
  position: absolute;
  margin: 12px 0px 0px 12px;
  z-index: 3;

  font-size: var(--font-title);
  font-weight:bold;
  text-align: center;
  padding-top: 11%;
  color: #893446;
}

.names{
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}


.box_3 {
  width: 94%;
  height: 64%;
  border-radius: 24px;
  background-color: #856888;
  position: absolute;
  margin: 12px 0px 0px 12px;
  z-index: 1;
}

.box_4 {
  width: 91%;
  height: 64%;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  border-bottom-right-radius: 180px;
  border-bottom-left-radius: 24px;
  background-color: #C9BEDC;
  position: absolute;
  margin: 12px 0px 0px 12px;
  z-index: 2;
}

.box_tex {
  width: 88%;
  height: 58%;
  position: absolute;
  bottom: 0;


  display: flex;
  flex-direction: column;
  padding-left: 20px;
 padding-top: 20px;
  gap: 12px;  
  justify-content: flex-start;
  align-items: flex-start;
  font-size: var(--font-items);
  color: #893446;
  font-weight: 500;
}

.box_4 span {
  color: white;
  font-size: var(--font-Paragraph);
}



/***************/


  .danger {
    background-color: tomato;
  } 

  .success {
    background-color: green;
  }

  .secondary {
    background-color: gray;
  }

  .status {
    position: absolute;
    color: white;
    bottom: 10px;
    right: 0;
    padding: 10px;
    border-radius: 15px;
    font-weight: 600;
    font-size: var(--font-Paragraph);
  }

  /* estilado del modal */

.container__modal {
  background-color: rgba(0, 0, 0, 0.255);
  width: 100%;
  height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.modalImg {
  width: 100%;
}
.modalImg  img{
  width: 100%;
}

.close__modal {
  /* display: none; */
  transform: translateY(-100vh);
  transition: transform 0.8s ;
  position: fixed;
}

.modal {
  background-image: url(/public/fondo/modal.png);
  width: 320px;
  height: 290px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.5rem;
  text-align: center;
  font-weight: 600;
  color: #f2f2f2;
  padding: 1rem;
  box-shadow: 5px 5px 6px #332f2c91;

}

.custom-btn {
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 550;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255,255,255,.5),
    7px 7px 20px 0px rgba(0,0,0,.1),
    4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
 }
 
 .btn-1 {
  background: rgb(6,14,131);
  background: linear-gradient(0deg, rgba(6,14,131,1) 0%, rgba(12,25,180,1) 100%);
  border: none;
 }
 
 .btn-1:hover {
  background: rgb(0,3,255);
  background: linear-gradient(0deg, rgb(0, 17, 255) 0%, rgba(2,126,251,1) 100%);
 }

 /* Loading */

 .loader__container {
  background-color: #C9BDEC;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 11;

}

.loader__container img {
  width: 300px;
}

 .spinner {
  height: 50px;
  width: max-content;
  font-size: 18px;
  font-weight: 600;
  font-family: monospace;
  letter-spacing: 1em;
  color: #f5f5f5;
  filter: drop-shadow(0 0 10px);
  display: flex;
  justify-content: center;
  align-items: center;
 }
 
 .spinner span {
  animation: loading6454 1.75s ease infinite;
 }
 
 .spinner span:nth-child(2) {
  animation-delay: 0.25s;
 }
 
 .spinner span:nth-child(3) {
  animation-delay: 0.5s;
 }
 
 .spinner span:nth-child(4) {
  animation-delay: 0.75s;
 }
 
 .spinner span:nth-child(5) {
  animation-delay: 1s;
 }
 
 .spinner span:nth-child(6) {
  animation-delay: 1.25s;
 }
 
 .spinner span:nth-child(7) {
  animation-delay: 1.5s;
 }

 .spinner span:nth-child(8) {
  animation-delay: 1.75s;
 }
 
 .spinner span:nth-child(9) {
  animation-delay: 2s;
 }
 
 .spinner span:nth-child(10) {
  animation-delay: 2.25s;
 }
 
 .spinner span:nth-child(11) {
  animation-delay: 2.5s;
}

.spinner span:nth-child(12) {
    animation-delay: 2.75s;
 }
 
 @keyframes loading6454 {
  0%, 100% {
   transform: translateY(0);
  }
 
  50% {
   transform: translateY(-10px);
  }
 }

 /* ******* */


@media screen and (max-width: 1024px) {
  .container_logo {
    gap: 1rem;
  }
  
  
  .container_logo img {
    align-self: center;
  margin: 20px 0px 0px 0px;
  }

  .search__container {
    width: 500px;
  }

  .location_cont {
    margin-top: 20px; 
  }
  
  .location_cont li {
    padding: 10px 30px 10px 30px;
  }
}

@media screen and (max-width: 768px) {
  .location_cont li {
    padding: 5px 15px 5px 15px;
  }

  .cards {
    width: 350px;
    height: 357px;
  }
  
  .circle {
    width: 9.5em;
    height: 9.5em;
  }
  
  .box_1 {
    width: 350px;
    height: 248px;

  }
  
  .box_2 {
    width: 325px;
    height: 83px;
  
    font-size: 22px;
    padding-top: 30px;
  }
  

  .box_3 {
    width: 325px;
    height: 225px;
  }
  
  .box_4 {
    width: 308px;
    height: 222px;
  }
  
  .box_tex {
    width: 295px;
    height: 138px;
    padding-left: 15px;
    gap: 10px;  
    font-size: 14px;
  }
  
  .box_4 span {
    font-size: 16px;
  }

  .status {
    bottom: 5px;
    right: -10px;
    font-size: 14px;
  }
}


@media screen and (max-width: 425px) {
  .search__container {
    width: 300px;
    margin-top: 0;
  }

  .location_cont {
    text-align: center;
    margin: 15px;
  }
  
  .location_cont li {
    padding: 5px 10px 5px 10px;
  }

  .box_1 {
    width: 340px;
    height: 240px;
  }

  .box_2,
  .box_3,
  .box_4 {
    margin: 8px 0px 0px 8px;
  }

  .btn__search {
    width: 90px;
    height: 100%;
    font-size: 16px;
  }

  .input {
    padding: 10px;
  }
}

@media screen and (max-width: 375px) {
  .container_logo img { 
    align-self: center;
    margin: 10px 0px 0px 0px;
    width: 90%;
  }
}





/* código de las tarjetas  */
/*  .cardContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .cards {
    width: 450px;
    height: 460px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin-left: 20px;
    margin-top: 200px;
    position: relative;
  }
  
  .circle {
    background-color:#893446;
    width: 12.5em;
    height: 12.5em;
    border-radius: 50%;
    position: absolute;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
  }
  
  .circle img {
    width: 90%;
    border-radius: 50%;
  }
  
  .box_1 {
    width: 450px;
    height: 320px;
    border-radius: 30px;
    background-color:  #893446;
    position: relative;
  }
  
  .box_2 {
    width: 425px;
    height: 109px;
    border-radius: 24px;
    background-color: #EDE288;
    position: absolute;
    margin: 12px 0px 0px 12px;
    z-index: 3;
  
    font-size: var(--font-title);
    font-weight:bold;
    text-align: center;
    padding-top: 50px;
    color: #893446;
  }
  
  .names{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  
  
  .box_3 {
    width: 425px;
    height: 295px;
    border-radius: 24px;
    background-color: #856888;
    position: absolute;
    margin: 12px 0px 0px 12px;
    z-index: 1;
  }
  
  .box_4 {
    width: 408px;
    height: 295px;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    border-bottom-right-radius: 180px;
    border-bottom-left-radius: 24px;
    background-color: #C9BEDC;
    position: absolute;
    margin: 12px 0px 0px 12px;
    z-index: 2;
  }
  
  .box_tex {
    width: 395px;
    height: 185px;
    position: absolute;
    bottom: 0;
  
  
    display: flex;
    flex-direction: column;
    padding-left: 20px;
   padding-top: 20px;
    gap: 12px;  
    justify-content: flex-start;
    align-items: flex-start;
    font-size: var(--font-items);
    color: #893446;
    font-weight: 500;
  }
  
  .box_4 span {
    color: white;
    font-size: var(--font-Paragraph);
  } */

